* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

body {
  background: #090d13;
  overflow-x: hidden;
}

#root {
  min-height: 100vh;
  width: 100%;
}